<div class="app-container">
  <div class="sidebar navegacion">
    <div class="sidebar-header">
      <a href="/">
      <div class="app-icon">
        <!-- <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor"
            d="M507.606 371.054a187.217 187.217 0 00-23.051-19.606c-17.316 19.999-37.648 36.808-60.572 50.041-35.508 20.505-75.893 31.452-116.875 31.711 21.762 8.776 45.224 13.38 69.396 13.38 49.524 0 96.084-19.286 131.103-54.305a15 15 0 004.394-10.606 15.028 15.028 0 00-4.395-10.615zM27.445 351.448a187.392 187.392 0 00-23.051 19.606C1.581 373.868 0 377.691 0 381.669s1.581 7.793 4.394 10.606c35.019 35.019 81.579 54.305 131.103 54.305 24.172 0 47.634-4.604 69.396-13.38-40.985-.259-81.367-11.206-116.879-31.713-22.922-13.231-43.254-30.04-60.569-50.039zM103.015 375.508c24.937 14.4 53.928 24.056 84.837 26.854-53.409-29.561-82.274-70.602-95.861-94.135-14.942-25.878-25.041-53.917-30.063-83.421-14.921.64-29.775 2.868-44.227 6.709-6.6 1.576-11.507 7.517-11.507 14.599 0 1.312.172 2.618.512 3.885 15.32 57.142 52.726 100.35 96.309 125.509zM324.148 402.362c30.908-2.799 59.9-12.454 84.837-26.854 43.583-25.159 80.989-68.367 96.31-125.508.34-1.267.512-2.573.512-3.885 0-7.082-4.907-13.023-11.507-14.599-14.452-3.841-29.306-6.07-44.227-6.709-5.022 29.504-15.121 57.543-30.063 83.421-13.588 23.533-42.419 64.554-95.862 94.134zM187.301 366.948c-15.157-24.483-38.696-71.48-38.696-135.903 0-32.646 6.043-64.401 17.945-94.529-16.394-9.351-33.972-16.623-52.273-21.525-8.004-2.142-16.225 2.604-18.37 10.605-16.372 61.078-4.825 121.063 22.064 167.631 16.325 28.275 39.769 54.111 69.33 73.721zM324.684 366.957c29.568-19.611 53.017-45.451 69.344-73.73 26.889-46.569 38.436-106.553 22.064-167.631-2.145-8.001-10.366-12.748-18.37-10.605-18.304 4.902-35.883 12.176-52.279 21.529 11.9 30.126 17.943 61.88 17.943 94.525.001 64.478-23.58 111.488-38.702 135.912zM266.606 69.813c-2.813-2.813-6.637-4.394-10.615-4.394a15 15 0 00-10.606 4.394c-39.289 39.289-66.78 96.005-66.78 161.231 0 65.256 27.522 121.974 66.78 161.231 2.813 2.813 6.637 4.394 10.615 4.394s7.793-1.581 10.606-4.394c39.248-39.247 66.78-95.96 66.78-161.231.001-65.256-27.511-121.964-66.78-161.231z" />
        </svg> -->
        <img src="./img/Logo.jpg"  alt="Logo"/>
      </div>
    </a>
    </div>
    <ul class="sidebar-list">
      <li class="sidebar-list-item <%= (currentOption === '/home') ? 'active' : '' %>">
        <a href="/home">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-home">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
            <polyline points="9 22 9 12 15 12 15 22" />
          </svg>
          <span>Inicio</span>
        </a>
      </li>
      <li class="sidebar-list-item <%= (currentOption === '/sell') ? 'active' : '' %>">
        <a href="/sell">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"
              d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
          </svg>
          <span>Vender</span>
        </a>
      </li>
      <li class="sidebar-list-item <%= (currentOption === '/products') ? 'active' : '' %>">
        <a href="/products">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-shopping-bag">
            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
            <line x1="3" y1="6" x2="21" y2="6" />
            <path d="M16 10a4 4 0 0 1-8 0" />
          </svg>
          <span>Productos</span>
        </a>
      </li>
      <li class="sidebar-list-item <%= (currentOption === '/statistics') ? 'active' : '' %>">
        <a href="/statistics">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-pie-chart">
            <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
            <path d="M22 12A10 10 0 0 0 12 2v10z" />
          </svg>
          <span>Estadisticas</span>
        </a>
      </li>
    </ul>
    <div class="account-info">
      <div class="account-info-picture">
<% if (imageUrl) { %>
  <img src="<%= imageUrl %>" alt="Uploaded Image">
<% } else if (user && user.profile_picture) { %>
  <img src="<%= user.profile_picture %>" alt="Profile Image">
<% } else { %>
  <img src="./img/user.png" alt="Default Profile Image">
<% } %>

        
        <!-- <img src="./img/user.png"> -->
      </div>
      <% if (user) { %>
        <div class="account-info-name"><%= user.usuario %></div>
        <% } %>
          <button class="account-info-more puntos-perfil">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-more-horizontal">
              <circle cx="12" cy="12" r="1" />
              <circle cx="19" cy="12" r="1" />
              <circle cx="5" cy="12" r="1" />
            </svg>
            <ul>
              <li class="hover-radius"><a>Opcion1</a></li>
              <li>
                <a href="/Profile">
                  <svg xmlns="http://www.w3.org/2000/svg" class="setting" viewBox="0 0 50 50" width="18px" height="18px">
                    <path d="M 14 3.9902344 C 8.4886661 3.9902344 4 8.4789008 4 13.990234 L 4 35.990234 C 4 41.501568 8.4886661 45.990234 14 45.990234 L 36 45.990234 C 41.511334 45.990234 46 41.501568 46 35.990234 L 46 13.990234 C 46 8.4789008 41.511334 3.9902344 36 3.9902344 L 14 3.9902344 z M 14 5.9902344 L 36 5.9902344 C 40.430666 5.9902344 44 9.5595687 44 13.990234 L 44 35.990234 C 44 40.4209 40.430666 43.990234 36 43.990234 L 14 43.990234 C 9.5693339 43.990234 6 40.4209 6 35.990234 L 6 13.990234 C 6 9.5595687 9.5693339 5.9902344 14 5.9902344 z M 25 8 C 15.622998 8 8 15.623005 8 25 C 8 34.376995 15.622998 42 25 42 C 34.377002 42 42 34.376995 42 25 C 42 15.623005 34.377002 8 25 8 z M 25 10 C 33.296122 10 40 16.703883 40 25 C 40 33.296117 33.296122 40 25 40 C 16.703878 40 10 33.296117 10 25 C 10 16.703883 16.703878 10 25 10 z M 25 12 C 23.898954 12 22.83008 12.133354 21.808594 12.390625 L 21.806641 12.390625 C 20.535832 12.711296 19.919878 14.211911 20.570312 15.337891 L 24.996094 23 L 24.996094 23.001953 C 25.352714 23.617524 26.012887 24 26.726562 24 L 35.574219 24 C 36.875695 24 37.863149 22.714549 37.507812 21.455078 C 35.966516 15.992254 30.944153 12 25 12 z M 25 14 C 30.049847 14 34.279328 17.380871 35.582031 21.998047 C 35.586731 22.014577 35.596729 22 35.574219 22 L 32.292969 22 C 30.912994 18.66801 27.519589 16.71075 23.947266 17.183594 L 22.302734 14.335938 C 22.291174 14.315917 22.283725 14.333478 22.296875 14.330078 C 23.157418 14.113342 24.061046 14 25 14 z M 16.90625 15.353516 C 16.456192 15.395042 16.017643 15.586018 15.675781 15.9375 C 13.400299 18.279048 12 21.484261 12 25 C 12 28.515534 13.398343 31.720949 15.673828 34.0625 C 16.585963 35.000301 18.191986 34.788954 18.84375 33.662109 L 18.845703 33.662109 L 23.277344 25.990234 C 23.635038 25.370764 23.631519 24.604958 23.275391 23.988281 L 18.84375 16.333984 C 18.517761 15.771359 17.954246 15.437306 17.357422 15.361328 C 17.208216 15.342334 17.056269 15.339674 16.90625 15.353516 z M 17.109375 17.332031 C 17.121745 17.319311 17.101281 17.317101 17.113281 17.337891 L 18.759766 20.179688 C 16.560474 23.040933 16.562637 26.958091 18.757812 29.816406 L 17.113281 32.662109 C 17.101041 32.683269 17.119322 32.680129 17.107422 32.667969 C 15.181 30.68544 14 27.986466 14 25 C 14 22.014327 15.183529 19.314376 17.109375 17.332031 z M 25.90625 19.064453 C 27.668036 19.331753 29.159787 20.440832 30.080078 22 L 26.726562 22 L 26.726562 21.998047 L 25.052734 19.101562 C 25.336515 19.104063 25.629878 19.022523 25.90625 19.064453 z M 19.867188 22.09375 L 21.544922 24.990234 L 19.863281 27.900391 C 18.83284 26.076938 18.833515 23.918564 19.867188 22.09375 z M 26.726562 26 C 26.012887 26 25.352714 26.382429 24.996094 26.998047 L 24.996094 27 L 20.570312 34.664062 C 19.921149 35.789803 20.536782 37.288942 21.806641 37.609375 L 21.808594 37.609375 C 22.830033 37.866646 23.898954 38 25 38 C 30.944153 38 35.966516 34.007746 37.507812 28.544922 C 37.863149 27.285451 36.875695 26 35.574219 26 L 26.726562 26 z M 26.726562 28 L 30.080078 28 C 29.016196 29.801379 27.147094 30.879375 25.052734 30.898438 L 26.726562 28.001953 L 26.726562 28 z M 32.291016 28 L 35.574219 28 C 35.596739 28 35.586711 27.985373 35.582031 28.001953 C 34.27934 32.619082 30.049847 36 25 36 C 24.061046 36 23.157389 35.886651 22.296875 35.669922 C 22.282735 35.666322 22.289834 35.684359 22.302734 35.662109 L 23.947266 32.814453 C 27.522227 33.286152 30.912376 31.327704 32.291016 28 z"/>
                  </svg>
                  Ajustes
                </a>
              </li>
              <li><a href="/logout" class="status-button" style="color: #ef0551ed !important;">
                  <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"
                    preserveAspectRatio="xMidYMid meet" focusable="false">
                    <g class="style-scope yt-icon">
                      <path
                        d="M20,3v18H8v-1h11V4H8V3H20z M11.1,15.1l0.7,0.7l4.4-4.4l-4.4-4.4l-0.7,0.7l3.1,3.1H3v1h11.3L11.1,15.1z"
                        class="style-scope yt-icon">
                      </path>
                    </g>
                  </svg>
                  Salir</a></li>
            </ul>
          </button>
    </div>
  </div>
  <div class="app-content">
    <div class="app-content-header">
      <div class="toggle"></div>
      <h1 class="app-content-headerText">
        <%= titleMain %>
      </h1>
      <button class="mode-switch" title="Switch Theme">
        <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
          <defs></defs>
          <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
        </svg>
      </button>